unas-supabase.json
{
  "nodes": [
    {
      "parameters": {
        "url": "[REDACTED_URL]",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "[REDACTED_AUTHORIZATION_HEADER]"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/xml",
        "body": "=<Params>\n  <TimeStart>{{ Math.floor($now.minus(1, 'days').startOf('day').toSeconds()) }}</TimeStart>\n  <TimeEnd>{{ Math.floor($now.startOf('day').toSeconds()) }}</TimeEnd>\n  <LimitNum>100</LimitNum>\n  <LimitStart>{{ ($json.index * 100) + 1 }}</LimitStart>\n</Params>",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3776,
        5408
      ],
      "id": "d1efa28c-56d4-447f-b7bd-0644904573e1",
      "name": "GetOrder"
    },
    {
      "parameters": {
        "fieldToSplitOut": "Orders",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        4320,
        5408
      ],
      "id": "9884a5be-c121-427b-978d-786eab3fb458",
      "name": "Split Out"
    },
    {
      "parameters": {
        "tableId": "[REDACTED_ID]",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "OrderKey",
              "fieldValue": "={{ $json.Key || '' }}"
            },
            {
              "fieldId": "OrderId",
              "fieldValue": "={{ $json.Id || '' }}"
            },
            {
              "fieldId": "Date",
              "fieldValue": "={{ $json.Date || '' }}"
            },
            {
              "fieldId": "DateMod",
              "fieldValue": "={{ $json.DateMod || '' }}"
            },
            {
              "fieldId": "Customer",
              "fieldValue": "={{ $json.Customer || [] }}"
            },
            {
              "fieldId": "PriceRounding",
              "fieldValue": "={{ $json.PriceRounding || '' }}"
            },
            {
              "fieldId": "Status",
              "fieldValue": "={{ $json.Status || '' }}"
            },
            {
              "fieldId": "StatusDateMod",
              "fieldValue": "={{ $json.StatusDateMod || '' }}"
            },
            {
              "fieldId": "StatusID",
              "fieldValue": "={{ $json.StatusID || '' }}"
            },
            {
              "fieldId": "StatusType",
              "fieldValue": "={{ $json.StatusType || '' }}"
            },
            {
              "fieldId": "Authenticated",
              "fieldValue": "={{ $json.Authenticated || '' }}"
            },
            {
              "fieldId": "Payment",
              "fieldValue": "={{ $json.Payment || [] }}"
            },
            {
              "fieldId": "Shipping",
              "fieldValue": "={{ $json.Shipping || [] }}"
            },
            {
              "fieldId": "Invoice",
              "fieldValue": "={{ $json.Invoice || [] }}"
            },
            {
              "fieldId": "SumPriceGross",
              "fieldValue": "={{ $json.SumPriceGross || '' }}"
            },
            {
              "fieldId": "Items",
              "fieldValue": "={{ $json.Items || [] }}"
            },
            {
              "fieldId": "UTM",
              "fieldValue": "={{ $json.UTM || [] }}"
            },
            {
              "fieldId": "Weight",
              "fieldValue": "={{ $json.Weight || '' }}"
            },
            {
              "fieldId": "Webshop",
              "fieldValue": "={{ $('login data').item.json.webshop || '' }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4160,
        5664
      ],
      "id": "2043caa6-cd0c-4751-b175-8b74493d2ade",
      "name": "Create a row"
    },
    {
      "parameters": {
        "jsCode": "const data = items[0].json;\n\nreturn Object.values(data).map(order => ({\n  json: order\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3824,
        5824
      ],
      "id": "07cfe81b-36ff-402f-af25-077990390452",
      "name": "normalize data"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        2176,
        5408
      ],
      "id": "3360389f-0d0b-46b2-b307-9ba21b6d2c3d",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a601d4f7-44b0-45df-be6c-3be05c7ec72d",
              "name": "Token",
              "value": "[REDACTED_AUTHORIZATION_HEADER]",
              "type": "string"
            },
            {
              "id": "69ca94aa-84f1-43a6-935d-a03332be7992",
              "name": "webshop",
              "value": "={{ $json.Login.WebshopInfo.WebshopURL.replaceAll('www.', '').replaceAll('.hu', '').toLowerCase() || '' }}",
              "type": "string"
            },
            {
              "id": "689cf114-a42d-470f-af9c-72b1ed5a216b",
              "name": "index",
              "value": "={{ $runIndex = 0 }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3488,
        5408
      ],
      "id": "6ebc54ca-3f2a-45f3-a9af-abd63344a19d",
      "name": "login data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3f829157-eccd-40cf-9360-ce7d692e28c6",
              "leftValue": "={{ $json.keys().includes('Orders') }}",
              "rightValue": "Key",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4592,
        5408
      ],
      "id": "ad00652e-b723-43e3-ba49-b125f7da719e",
      "name": "if orders"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d44837b6-8295-48e2-8cc1-bb7d73163bec",
              "leftValue": "={{ $json.Id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3520,
        5680
      ],
      "id": "389b228b-386c-4ad5-ad41-afa61fc5da24",
      "name": "If more orders"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f897c113-fb99-4b27-81de-b82433634ed0",
              "name": "Token",
              "value": "[REDACTED_AUTHORIZATION_HEADER]",
              "type": "string"
            },
            {
              "id": "3d9ff38c-65f0-4952-8967-e8e1ed2dad24",
              "name": "webshop",
              "value": "={{ $('login data').item.json.webshop }}",
              "type": "string"
            },
            {
              "id": "6feb987e-35ce-4e5d-a87b-2ffdcc65f608",
              "name": "index",
              "value": "={{ $runIndex + 1 }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4768,
        5904
      ],
      "id": "666f2b56-9253-4af1-af1f-cc56f9518509",
      "name": "continue data",
      "executeOnce": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        3200,
        5408
      ],
      "id": "6690dfc3-21b3-4207-91a2-4546446ad020",
      "name": "convert to json"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        4048,
        5408
      ],
      "id": "bb2a2b57-2676-4876-a9e1-2bf785bfd812",
      "name": "to json"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4768,
        5648
      ],
      "id": "b0560a79-adee-423e-82ee-51c969efe7c9",
      "name": "execution is finished",
      "executeOnce": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1b38c3cd-ec83-492a-a0cc-05ed100fd37c",
              "leftValue": "={{ $input.all().length < 100}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4432,
        5664
      ],
      "id": "08a71f47-d353-4945-baff-dc1f50516678",
      "name": "If less orders than 100",
      "executeOnce": true
    },
    {
      "parameters": {
        "url": "[REDACTED_URL]",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "ngrok-skip-browser-warning",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2832,
        5488
      ],
      "id": "e1be742b-d67e-4b33-a828-eec8913c725d",
      "name": "cleanup data on server"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2576,
        5488
      ],
      "id": "961af0e9-d1d7-4360-afcb-622b4919d74d",
      "name": "Wait",
      "webhookId": "c37209b8-ffa5-423a-abda-dc312127b9e8"
    },
    {
      "parameters": {
        "url": "[REDACTED_URL]",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/xml"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "body": "=<Params>\n  <ApiKey>[REDACTED_API_KEY]</ApiKey>\n  <WebshopInfo>true</WebshopInfo>\n</Params>",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2688,
        5216
      ],
      "id": "e102aa2f-1174-4623-b193-34ba17fb3f5a",
      "name": "UNAS-Login"
    }
  ],
  "connections": {
    "GetOrder": {
      "main": [
        [
          {
            "node": "to json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "if orders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "If less orders than 100",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "normalize data": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "UNAS-Login",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "login data": {
      "main": [
        [
          {
            "node": "GetOrder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if orders": {
      "main": [
        [],
        [
          {
            "node": "If more orders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If more orders": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "normalize data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "continue data": {
      "main": [
        [
          {
            "node": "GetOrder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "convert to json": {
      "main": [
        [
          {
            "node": "login data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "to json": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If less orders than 100": {
      "main": [
        [
          {
            "node": "execution is finished",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "continue data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "cleanup data on server",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UNAS-Login": {
      "main": [
        [
          {
            "node": "convert to json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b28fc681b2c89b122bd1ee69f4773cb9aed0fa411c2e88958bf1f39ea9cdfe40"
  }
}
